body {
  background-color: #f9fcfe;
  color: #242424;
  font-size: 16px;
  line-height: 1.5;
}

div.dashboard div {
  margin: 90px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

div.dashboard div a:hover {
  text-decoration: none;
}

div.dashboard div a .fa {
  font-size: 90px;
}

div.dashboard div a span {
  display: block;
  height: 90px;
  vertical-align: middle;
}

div.navbar, nav.navbar {
  background-image: none;
  background-color: #002255;
  background: linear-gradient(garden.color.CSSColor@f9ec237c, garden.color.CSSColor@f9ec23fb);
  border-style: solid;
  border-width: 2px;
  border-color: #002255;
  color: #f9fcfe;
  line-height: 75px;
}

div.navbar a.navbar-brand, nav.navbar a.navbar-brand {
  color: #d1e4f6;
  margin: 0 5%;
}

div.navbar a.navbar-brand img, nav.navbar a.navbar-brand img {
  height: 75px;
}

div.navbar a.navbar-brand:hover, nav.navbar a.navbar-brand:hover {
  color: inherit;
}

div.navbar ul.navbar-nav li.nav-item .nav-link, nav.navbar ul.navbar-nav li.nav-item .nav-link {
  color: #abc8e4;
  display: inline-block;
}

div.navbar ul.navbar-nav li.nav-item .nav-link i.fa-home, nav.navbar ul.navbar-nav li.nav-item .nav-link i.fa-home {
  font-size: 30px;
}

div.navbar ul.navbar-nav li.nav-item .nav-link i.fa-upload, nav.navbar ul.navbar-nav li.nav-item .nav-link i.fa-upload {
  font-size: 24px;
}

div.navbar ul.navbar-nav li.nav-item a.nav-link:hover, nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #628cb6;
}

div.navbar ul.navbar-nav li.nav-item .username, nav.navbar ul.navbar-nav li.nav-item .username {
  display: inline-block;
  padding-left: 0.5em;
  color: #f9fcfe;
}

div.navbar ul.navbar-nav li.nav-item .username:hover, nav.navbar ul.navbar-nav li.nav-item .username:hover {
  color: #628cb6;
}

div.navbar div.dropdown a, nav.navbar div.dropdown a {
  cursor: pointer;
}

div.navbar ul.dropdown-menu, nav.navbar ul.dropdown-menu {
  margin-top: -40px;
}

div.navbar ul.dropdown-menu li, nav.navbar ul.dropdown-menu li {
  line-height: 1.2em;
  padding: 5px;
}

div.navbar ul.dropdown-menu li.dropdown-header, nav.navbar ul.dropdown-menu li.dropdown-header {
  text-decoration: underline;
}

div.navbar ul.dropdown-menu a, nav.navbar ul.dropdown-menu a {
  cursor: pointer;
}

div.navbar h4.modal-title, nav.navbar h4.modal-title {
  color: #002255;
}

.jumbotron {
  background-color: #002255;
  background: linear-gradient(garden.color.CSSColor@f9ec23fb, garden.color.CSSColor@f9ec234b);
  color: #f9fcfe;
  font-size: 1.2em;
}

.jumbotron a {
  color: #f9fcfe;
  font-weight: 500;
  text-decoration: none;
}

.jumbotron a:hover {
  text-decoration: underline;
}

table.applications tr.concluded {
  background-color: #abc8e4;
}

table.applications tr.concluded:hover {
  background-color: #336699;
}

table.applications tr.concluded a {
  color: #628cb6;
}

div.submission-form form {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

div.submission-form form:before, div.submission-form form:after {
  transform: skew(5deg) rotate(5deg);
}

div.submission-form form {
  padding: 2em;
}

div.submission-form form label {
  font-weight: 600;
}

div.submission-form form div.form-group h1, div.submission-form form div.form-group h2 {
  margin-top: 2em;
}

div.submission-form form div.form-group >:div {
  margin-top: 2em;
}

div.submission-form form div.form-group .form-text.text-muted h6 {
  font-size: 12px;
}

div.submission-form form div.multi-table {
  padding-bottom: 2em;
}

div.submission-form form div.multi-table table {
  margin-bottom: 1em;
}

div.submission-form form div.multi-table table th {
  max-width: 8em;
  padding: 2px;
  text-align: center;
}

div.submission-form form div.multi-table table td {
  text-align: center;
}

div.submission-form form div.multi-table table td input[type="text"] {
  max-width: 10em;
}

div.submission-form form div.multi-table table td input[type="number"] {
  max-width: 4em;
  height: 2em;
}

div.submission-form form div.multi-table table td input[type="checkbox"] {
  color: fff;
}

div.submission-form form div.multi-table table .bigtext {
  width: 400px;
}

div.submission-form form div.multi-table table td.total label {
  padding: 0 0.3em;
  width: 3em;
  display: inline;
}

div.submission-form form div.multi-table table td.total div.input-group span {
  display: inline-block;
}

div.submission-form form div.multi-table table td.total div.input-group input {
  width: 5em;
}

div.submission-form form .course-learning-outcomes {
  margin-top: 3em;
}

div.submission-form form .course-learning-outcomes div.particular-course {
  border: solid black 2px;
  padding: 1em;
}

div.submission-form form .invalid-feedback {
  display: none;
  color: #dc3545;
}

.was-validated .form-control:invalid ~ .invalid-feedback {
  display: block;
}

.review-page review-application {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.review-page review-application:before, .review-page review-application:after {
  transform: skew(5deg) rotate(5deg);
}

.review-page .review-application {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 32px;
}

.review-page .review-application .review {
  padding: 2em;
}

.review-page .review-application .further-outcomes {
  margin-left: 2em;
}

.review-page .review-application:before, .review-page .review-application:after {
  transform: skew(5deg) rotate(5deg);
}

.review-page .review-application .jumbotron {
  background: none;
  color: #242424;
  text-align: center;
  font-size: 1.2em;
}

.review-page .review-application .jumbotron a {
  color: #f9fcfe;
  font-weight: 500;
  text-decoration: none;
}

.review-page .review-application .jumbotron a:hover {
  text-decoration: underline;
}

.review-page .review-application .jumbotron .self-proposal {
  color: #006400;
  font-style: italic;
}

.review-page .review-application .row {
  margin-left: 0px;
  margin-right: 0px;
}

.review-page .review-application .approval-buttons a.btn {
  margin: 3px;
}

.review-page .review-application div.content.pairs span.true, .review-page .review-application div.content.pairs span.false {
  font-weight: 700;
}

.review-page .review-application div.content.pairs span.true {
  color: #228b22;
}

.review-page .review-application div.content.pairs span.false {
  color: #Cd0000;
}

.review-page .review-application div.content.pairs .row.no-val {
  background-color: #eee;
}

.review-page .review-application div.content.pairs .row.no-val .val {
  font-style: italic;
}

.review-page .review-application div.content.pairs .row:hover {
  background-color: lightgray;
}

.review-page .review-application span.label {
  font-weight: 600;
}

.review-page .review-application span.label:after {
  content: ":";
  padding-right: 0.5em;
}

.review-page .review-application .review.multitable, .review-page .review-application .approvals {
  margin-top: 3em;
}

.review-page .review-application .review.multitable .multirow, .review-page .review-application .approvals .multirow {
  border: solid 1px black;
  padding: 5px;
  margin: 5px;
}

.review-page .review-application .review.multitable .multirow h2, .review-page .review-application .approvals .multirow h2 {
  text-decoration: underline;
}

#footer {
  margin-top: 100px;
}

#footer byu-footer byu-footer-column span.label {
  font-weight: 600;
}

#footer byu-footer byu-footer-column span.label:after {
  content: ":";
  padding-right: 0.5em;
}

#footer byu-footer byu-footer-column .logo {
  height: 50px;
}

#footer byu-footer byu-footer-column .email .value {
  text-decoration: underline;
}

#footer byu-footer byu-footer-column .email .value:hover {
  text-decoration: none;
}

body .new-reply {
  background-color: #FFF;
  padding: 2em;
  border-style: solid;
  text-align: center;
  border-color: #aaa;
  border-radius: 1em;
}

body .new-reply i {
  color: #aaa;
  margin-left: -1em;
  padding-right: 1em;
  font-size: 1.5em;
  float: left;
}

body .new-reply .reply-to-text {
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  border-radius: 0.5em;
  text-align: left;
  font-weight: 500;
  padding: 1em;
  margin-bottom: 1em;
}

body .new-reply textarea {
  display: block;
  padding: 0.5em;
  width: 100%;
}

body .new-reply div.controls a {
  display: inline-block;
  padding: 0.5em;
  font-weight: 600;
  margin: 1em;
}

body .new-reply div.controls a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body div.comments {
  margin: 3em auto;
  padding: 1em;
  background-color: #fff;
  max-width: 50%;
  border: solid 1px #000;
}

body div.comments h1 {
  text-decoration: underline;
  margin-bottom: 1em;
}

body div.comments textarea#new-comment {
  width: 100%;
  height: 5em;
  padding: 5px;
  resize: none;
}

body div.comments .comment {
  padding: 5px;
  margin-top: 2em;
  margin-left: 2em;
  border-style: solid;
  border-color: #D3d3d3;
  border-radius: 10px;
  text-align: left;
}

body div.comments .comment .badge {
  color: #000;
  float: right;
  display: inline-block;
  border-style: solid;
  border-color: #D3d3d3;
  font-size: 1em;
  height: 2em;
  width: 2em;
}

body div.comments .comment .badge.reviewer {
  border-color: #333333;
  color: #333333;
}

body div.comments .comment .badge.public {
  border-color: #00BB00;
  color: #00BB00;
}

body div.comments .comment .badge.hold {
  color: #FF3232;
  border-color: #FF3232;
}

body div.comments .comment .date, body div.comments .comment .author {
  display: inline-block;
}

body div.comments .comment .author + .date {
  padding-left: 1em;
}

body div.comments .comment .author i {
  font-size: 30px;
  padding-right: 8px;
}

body div.comments .comment .text i {
  color: #A9a9a9;
  padding: 10px 1.2em 10px 0;
}

body div.comments .comment div.controls {
  margin-left: 1em;
}

body div.comments .comment div.controls i {
  padding-right: 3px;
}

body div.comments .comment div.controls a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body div.comments .comment div.controls a + a {
  padding-left: 1em;
}

body div.comments .comment div.controls .text {
  font-size: 0.8em;
}

body div.comments .comment.reviewer {
  border-color: #333333;
}

body div.comments .comment.hold {
  border-color: #FF3232;
}

body div.new-comment div.badge {
  margin-left: 0.5em;
}

body div.new-comment div.badge.reviewer {
  color: #333333;
}

body div.new-comment div.badge.public {
  color: #00BB00;
}

body div.new-comment .comment-type {
  float: left;
}

body div.new-comment .comment-type .tab {
  display: inline-block;
  margin: 5px;
  margin-bottom: 0px;
  padding: 5px;
}

body div.new-comment .comment-type .tab:hover {
  text-decoration: underline;
  cursor: pointer;
}

body div.new-comment .comment-type .tab.selected {
  background-color: white;
  font-weight: 600;
  border: solid 1px;
  border-color: #628cb6;
}

div.global-lightbox {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  background: rgba(200,200,200,0.8);
  z-index: 999;
}

div.global-lightbox div.lightbox-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

a.btn {
  cursor: pointer;
}

div.goog-tooltip {
  background: #000;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  opacity: 0.85;
  color: #afafaf;
  border-radius: 5px;
  padding: 4px;
}

div.funding-type {
  text-align: center;
}

div.funding-type a.btn {
  display: block;
  width: 20%;
  margin: 0.5em auto;
}

div.table {
  display: table;
  margin: 10px;
}

div.table > :nth-child(even) {
  background-color: #d1e4f6;
}

div.table div.row {
  display: table-row;
}

div.table div.headers {
  font-weight: bold;
  text-decoration: underline;
}

div.table div.cell {
  display: table-cell;
  padding: 10px;
  width: 19%;
}

div.table div.cell.content-link {
  width: auto;
}

div.table a {
  cursor: pointer;
}

div.table a.rebuild {
  padding: 0 5px;
}

h2.organization {
  font-style: italic;
  text-decoration: underline;
  font-weight: 700;
}

#floatingCirclesG {
  position: relative;
  width: 125px;
  height: 125px;
  margin: auto;
  transform: scale(0.6);
}

.f-circleG {
  position: absolute;
  background-color: rgb(255,255,255);
  height: 22px;
  width: 22px;
  border-radius: 12px;
  animation-name: f-fadeG;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

#frotateG-0 {
  left: 0px;
  top: 51px;
  animation-delay: 0.45s;
}

#frotateG-1 {
  left: 15px;
  top: 15px;
  animation-delay: 0.6s;
}

#frotateG-2 {
  left: 51px;
  top: 0px;
  animation-delay: 0.9s;
}

#frotateG-3 {
  right: 15px;
  top: 15px;
  animation-delay: 0.9s;
}

#frotateG-4 {
  right: 0px;
  top: 51px;
  animation-delay: 1.05s;
}

#frotateG-5 {
  right: 15px;
  bottom: 15px;
  animation-delay: 1.2s;
}

#frotateG-6 {
  left: 51px;
  bottom: 0px;
  animation-delay: 1.35s;
}

#frotateG-7 {
  left: 15px;
  bottom: 15px;
  animation-delay: 1.5s;
}

@keyframes f-fadeG {

  from {
    background-color: #000000;
  }
  
  to {
    background-color: #ffffff;
  }

}